.nav-color {
    background-color: rgb(9, 35, 15)
}

.profile-icon {
    color: rgb(255, 255, 255);
}

.input-group-append {
    cursor: pointer;
}

.user-skill-label {
    margin-left: 5px; 
    margin-right: 5px; /* Add some space between labels */
    font-size: 13px;
}